.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  background-color: var(--Neutral-color-VeryDarkViolet);
  color: var(--Light-Gray-bg);
  gap: 3rem;
  padding: 3rem 2rem;
}

.footer .logo img {
  filter: brightness(20);
}

@media (max-width: 980px) {
  .footer {
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }
  .footer .logo {
    align-items: center;
    justify-content: center;
  }
}
